.intro-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(35deg, #ffffff, #ffffff) !important;
    z-index: 1;
}
.intro-text {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LEFT SIDE */
.intro-text .left-side {
    display: flex;
    flex-direction: column;
}
.intro-text .left-side h1 {
    font-size: 50px;
    color: black;
    margin-bottom: 10px;
}

.intro-text .left-side p {
    font-size: 30px;
    color: black;
    font-weight: 200;
}

/* RIGHT SIDE */
.intro-text .right-side {
    width: 500px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
}

.social-icon {
    padding: 0 0.25em;
    font-size: 150%;
}

.profile-img {
    width: 50%;
}

@media (max-width: 768px) {
    .intro-section {
        height: initial;
        padding-bottom: 70px;
        padding-top: 160px;
    }
    .intro-text {
        flex-direction: column;
    }
    .intro-text .left-side h1 {
        font-size: 30px;
    }
    .intro-text .left-side p {
        font-size: 15px;
    }
    .intro-text .right-side {
        width: 400px;
        max-width: 70%;
    }
}